!
version 12.4
no service timestamps log datetime msec
no service timestamps debug datetime msec
no service password-encryption
!
hostname team-1-router
!
!
!
!
ip dhcp excluded-address 10.1.0.1 10.1.0.2
ip dhcp excluded-address 10.1.1.1 10.1.1.2
ip dhcp excluded-address 10.1.2.1 10.1.2.2
ip dhcp excluded-address 10.1.5.1 10.1.5.2
!
ip dhcp pool IT
 network 10.1.0.0 255.255.255.240
 default-router 10.1.0.1
 dns-server 10.1.0.1
ip dhcp pool Accounting
 network 10.1.1.0 255.255.255.240
 default-router 10.1.1.1
 dns-server 10.1.1.1
ip dhcp pool Claims
 network 10.1.2.0 255.255.255.240
 default-router 10.1.2.1
 dns-server 10.1.2.1
ip dhcp pool Voice
 network 10.1.5.0 255.255.255.240
 default-router 10.1.5.1
 option 150 ip 10.1.5.1
 dns-server 10.1.5.1
!
!
!
ip cef
no ipv6 cef
!
!
!
!
!
!
!
!
!
!
!
!
spanning-tree mode pvst
!
!
!
!
!
!
interface FastEthernet0/0
 ip address 192.168.0.3 255.255.255.0
 duplex auto
 speed auto
!
interface FastEthernet0/1
 no ip address
 duplex auto
 speed auto
!
interface FastEthernet0/1.1
 description IT
 encapsulation dot1Q 1 native
 ip address 10.1.0.1 255.255.255.240
!
interface FastEthernet0/1.2
 description Accounting
 encapsulation dot1Q 2
 ip address 10.1.1.1 255.255.255.240
!
interface FastEthernet0/1.3
 description Sales
 encapsulation dot1Q 3
 ip address 10.1.2.1 255.255.255.240
!
interface FastEthernet0/1.4
 description Claims
 encapsulation dot1Q 4
 ip address 10.1.3.1 255.255.255.240
!
interface FastEthernet0/1.5
 description HR
 encapsulation dot1Q 5
 ip address 10.1.4.1 255.255.255.240
!
interface FastEthernet0/1.6
 description Voice
 encapsulation dot1Q 6
 ip address 10.1.5.1 255.255.255.240
!
interface Vlan1
 description IT
 no ip address
 shutdown
!
interface Vlan2
 mac-address 0030.a312.db01
 no ip address
!
router rip
!
ip classless
!
ip flow-export version 9
!
!
!
!
!
!
!
dial-peer voice 1 voip
 destination-pattern 0...
 session target ipv4:192.168.0.2
!
telephony-service
 max-ephones 2
 max-dn 2
 ip source-address 10.1.5.1 port 2000
!
ephone-dn 1
 number 1001
!
ephone-dn 2
 number 1002
!
ephone 1
 device-security-mode none
 mac-address 0060.7049.09EC
 type 7960
 button 1:1
!
line con 0
!
line aux 0
!
line vty 0 4
 login
!
!
!
end

